body {
  height: 100vh;
  background-color: #3e3e3e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
.flex {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
